.btn-base {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  margin: 0;
  background-color: $color-danger;
  border: 1px solid $color-danger;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: color .5s ease 0s, background-color .5s ease 0s;

  &:hover {
    color: $color-danger;
    background-color: #ffffff;
  }
}